html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  background-color:#FAE7E9;
}

/* body {
} */

.logo {
  display:block;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top:15%; */
  width:300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D1142F;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: solid transparent;
}

li a:hover {
  background-color: white;
  color: #D1142F;
  border-style: solid;
  border-color: #D1142F;
}

.organisers {
  position:relative;
  height:300px;
  top:70px;
  /* left:calc(20%); */
  /* animation-name: move;
  animation-duration: 2s; */
  transition-property: top;
  transition-duration: 2s;
}

.organisers img {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
    /* left:calc(30%); */
  position:relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

/* @keyframes move {
  from {top:0px;}
  to {top:-5px;}
} */

.clip:hover {
  top:-5px;
  /* transition-duration: 2s;
 */

}


/* .clip {


  background: #D1142F;
  box-sizing: border-box;
  clip-path:polygon(82% 11%, 99% 39%, 64% 92%, 32% 34%, 49% 11%);
} */

.clip {
  display:inline-block;
  position: relative;
  width: 180px;
  height: 150px;
  background-color: #D1142F;
  box-sizing: border-box;
  clip-path:polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%);
}

.clip img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 116px;
    height: 117px;
    clip-path:polygon(83% 12%, 100% 40%, 67% 93%, 33% 40%, 50% 12%);
}

/* .clip:hover {
  top:-5px;
} */
/*



.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

footer {
    /* position: absolute; */
    /* bottom: 0px; */
    margin: 0;
    padding: 0;
    background-color: #D1142F;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    left:calc(5%);
}

.cleversteam {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:80px;
}

footer a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border: solid transparent;
}
