/*
This sets the font for the whole page
*/
html {
  font-family: sans-serif;
}

/*
This sets the margin and padding to 0 for everything.
*/
* {
  margin: 0;
  padding: 0;
}
/*
This is the styling for the body
*/
body {
  width:100%;
}
/*
This is the styling for the header.
*/
header {
  text-align: center;
  background-color: #044C62;
  color: white;
  padding:15px;
  height: 50px;
  margin:0;
  /* transition: top 0.2s ease-in-out; */
}


/*
This is the styling for the header links.
*/
header a {
  color: white;
  font-size: 20px;
  border:3px solid transparent;
  padding:5px;
  text-decoration: none;
}

/*
This is the styling for the header links on hover.
*/
header a:hover {
  padding:5px;
  margin-left: 0;
  /* margin-right: 5px; */
  border:3px solid white;
}


/*
This is the styling for the header links when they have been visited.
*/
header a:visited {
  padding:5px;
  margin-left: 0;
  /* margin-right: 5px; */
  border:3px solid white;
}

/*
This is the styling for the back to top of page button.
*/
.bounce {
  float:right;
  position: fixed;
  display:block;
  border: none;
  color:white;
  font-size: 20px;
  padding:10px 10px;
  background-color:#0880A1;
  cursor: pointer;
}

/*
This is the styling for the me class
*/
.me {
  text-align: center;
  font-family: sans-serif;
  padding-top: 60px;
}

/*This is the styling for the rubyside class*/
.rubyside {
  max-width: 250px;
}

/*This is the styling for the header list items*/
 header li {
  display:inline;
  padding-right: 30px;
  /* padding-top: 20px; */
}

/*
This is the styling for the outer class
*/
.outer {
  width:600px;
}

/*
This is the styling for the skills class
*/
 .skills {
   /* background-color:#D7BDDA; */
   width:100%;
 }

 /*
 This is the styling for the skill class
 */
 .skill {
   text-align: center;
   /* background-color:#D7BDDA; */
 }

 /*
 This is the styling for the ul tag within the skill class
 */
 .skill ul {
   list-style-type: none;
   columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
 }

 /*
 This is the styling for the tab class
 */
 .tab {
   margin-left: calc(37%);
   }

/*This is the styling for the tab buttons*/
.tab button {
    background-color: white;
    float: left;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid #044C62;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #044C62;
   color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #044C62;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

/*This is the styling for the skill class*/
.skill {
  padding-top: 100px;
  /* border-top: solid #044C62; */
  line-height: 1.5;
  height:200px;
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
  font-size: 18px;
  border: solid #044C62;
}

/*.ddt {
  background-color: blue;
}*/

/*Sets the styling for the background of the projects*/
.projectBackground {
  height: 300px;
  width: 250px;
  background-color: #0880A1;
  margin-top: 50px;
  margin-left: 30px;
  transition: all .5s ease-in-out;
  border-radius:2px;
  color: white;
  text-align: center;
}
/*Sets the styling for the background of the projects on hover*/
.projectBackground:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px grey;
}

/*Adds padding to the projects*/
.projects {
  padding-top: 40px;
  padding-bottom: 70px;
}

/*Sets the styling for the project*/
.project {
  margin-top:30px;
  text-align: center;
  color:black;
  /* padding:20px; */

  /* padding-right: 30px; */
  /* padding-right: 30px; */

  margin-bottom:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Sets the styling for the project name in the projects*/
.projectName {
  margin-left: 30px;
}

/*Sets the styling for the project links to have no text-decoration*/
.projectlink {
text-decoration: none;
}

/*Sets the position for the Spin The Moose project image*/
.moose {
  margin-left: 35px;
  margin-top: 40px;
}
/*Sets the position for the rubyside project image*/
.rubyside{
margin-top: 40px;
background-color: white;
}
/*Sets the position for the framework project image*/
.framework{
margin-top: 40px;
transition: all .5s ease-in-out;
}

/*Sets the styling for the moose class*/
.moose {
  height:180px;
  width:180px;
  -webkit-transition: width 1s, height 4s;
   transition: width 0.5s, height 0.5s;
}

/*Sets the styling for the framework class*/
.framework {
  max-width: 200px;
  padding-left: 20px;
}

/*Sets the styling for the title class*/
.title {
  text-align: center;
  color: #044C62;
}

/*Sets the styling for the process class*/
.process {
  margin-top: 50px;
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

/*Sets the colour of the project link text*/
.projectLink {
  color: #044C62;
}

/*Sets the styling of the problem section*/
.problem {
  margin-bottom: 30px;
}
/*Sets the styling of the problem section p tags*/

.problem p {
  padding: 20px;
}
/*Sets the styling of the research section*/
.research {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Sets the styling of the research section p tags*/
.research p {
  padding: 20px;
}
/*Sets the styling of the design section*/
.design {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Sets the styling of the design section p tags*/
.design p {
  padding: 20px;
}

/*Sets the styling for the mooseprototype class*/
.mooseprototype {
  max-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/*Sets the styling of the prototypes class*/
.prototypes {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
/*Sets the styling of the prototype class*/
.prototype {
  max-height: 350px;
  margin-left: 10px;
}
/*Sets the styling of the build class*/
.build {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Sets the styling of the build section p tags*/
.build p {
  padding: 20px;
}
/*Sets the styling of the test section*/
.test {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Sets the styling of the test section p tags*/
.test p {
  padding: 20px;
}
/*Sets the styling of the contact section*/
.contact {
  background-color: #0880A1;
  text-align: center;
  color: white;
  padding-top: 20px;
  line-height: 1.5;
  height:100px;
  font-size: 18px;
  padding-bottom: 10px;

}

/*Sets the styling of the contact section links*/
.contact a {
  color: white;
}
/*Sets the styling of the contact section links on hover*/
.contact a:hover {
  color: #044C62;
  /* width: auto; */
}
/*Sets the styling of the footer section*/
footer {
  position: absolute;
  bottom: -30;
  left: 0;
  width:100%;
}

/*Sets the styling of the social class*/
.social {
  height:70px;
  background-color: #0880A1;
  margin: 0;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}
/*Sets the styling of the social icons*/
.socialIcon {
  max-height: 45px;
  /* margin-left: 15px; */
}
/*Sets the styling of the footer link*/
footer a {
  padding-right:10px;
  padding-left:10px;
  text-decoration: none;
  position: relative;
  left:calc(43%);
  top:calc(30%);
}

/*Sets the styling of the twitter icon*/
.twitter {
  height:35px;
  width:35px;
}

/*Sets the styling of the copyright section*/
.copyright {
  width:100%;
  padding-top:5px;
  margin: 0;
  padding-bottom:5px;
  background-color: #0880A1;
  color: white;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
